.aboutPage {
	@extend .container;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&_profile {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		min-height: 480px;

		&_container {
			width: 400px;
			overflow: hidden;
			border-radius: 1.5rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	& > h2 {
		padding: 1rem;
		font-size: 2rem;
		width: 100%;
		max-width: 768px;
	}

	&_body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 768px;
		padding: 0 1rem;

		& > p {
			padding: 1rem 0;
			font-size: 1.5rem;
			line-height: 1.5;
		}
	}

	&_cta {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;

		&_button {
			text-decoration: none;
			align-items: center;
			background-color: #fff;
			border-radius: 12px;
			box-shadow:
				transparent 0 0 0 3px,
				rgba(18, 18, 18, 0.1) 0 6px 20px;
			box-sizing: border-box;
			color: #121212;
			cursor: pointer;
			display: inline-flex;
			flex: 1 1 auto;
			font-family: Inter, sans-serif;
			font-size: 1.2rem;
			font-weight: 700;
			justify-content: center;
			line-height: 1;
			margin: 0;
			outline: none;
			padding: 1rem 1.2rem;
			text-align: center;
			text-decoration: none;
			transition:
				box-shadow 0.2s,
				-webkit-box-shadow 0.2s;
			white-space: nowrap;
			border: 0;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;

			&:hover {
				box-shadow:
					#121212 0 0 0 3px,
					transparent 0 0 0 0;
			}
		}
	}
}
