@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@mixin roboto_base($font-weight: 400) {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: $font-weight !important;
}

.roboto {
	@include roboto_base;
}

.roboto-light {
	@include roboto_base(300);
}

.roboto-bold {
	@include roboto_base(700);
}