@import "roboto";
@import "archivo";

a,
p,
span {
	@extend .roboto;
	color: black;
}

a {
	&:hover {
		color: gray;
	}

	&:active,
	:selected {
		color: $color-gray;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend .archivo;
	line-height: 1;
}

h1 {
	font-size: x-large;

	@include media-breakpoint-up($sm) {
		font-size: xx-large;
	}
}
