@use "./mixins/index" as *;

.container {
	padding: 1rem auto 1rem auto;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;

	@include media-breakpoint-up($sm) {
		max-width: 540px;
	}

	@include media-breakpoint-up($md) {
		max-width: 720px;
	}

	@include media-breakpoint-up($lg) {
		max-width: 960px;
	}

	@include media-breakpoint-up($xl) {
		max-width: 1320px;
	}
}
