.about {
	@extend .container !optional;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;

	&_container {
		display: flex;
		justify-content: center;

		@media only screen and (min-width: 576px) {
			justify-content: start;
		}

		&_header {
			font-size: 1.5rem;
			font-weight: 200;
			line-height: 1.75;

			@media only screen and (min-width: 576px) {
				font-size: 2rem;
			}
		}

		&_subheader {
			font-size: 2.5rem;
		}
	}

	&_carousel {
		@extend .container;

		background-color: black;
		border: 0.25rem solid black;

		@media only screen and (min-width: 576px) {
			border-radius: 1rem;
			overflow: hidden;
		}

		&_item {
			display: flex;

			justify-content: center;
			align-items: center;
			max-height: 768px;

			& source,
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.swiper-pagination-bullet {
		width: 1.5rem;
		height: 1.5rem;
		background-color: #007aff;
	}
}
