.hero {
	@extend .container;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 375px;
	padding: 1rem;

	@media only screen and (min-width: 576px) {
		min-height: 480px;
	}

	&_container {
		max-width: 768px;

		&_header {
			font-size: 1.5rem;
			font-weight: 200;
			line-height: 1.75;

			@media only screen and (min-width: 576px) {
				font-size: 2rem;
			}
		}

		&_subheader {
			font-size: 2rem;

			@media only screen and (min-width: 576px) {
				font-size: 2.5rem;
			}
		}
	}
}
